[Unit]
Description=Monitor Package Statues for reporting to https://pkgs.observer
Wants=pkgs-observer-agent.timer

[Service]
Type=oneshot
ExecStart=/usr/sbin/pkgs-observer-agent
EnvironmentFile=/etc/pkgs-observer-agent.conf.d/service.conf

[Install]
WantedBy=multi-user.target