[Unit]
Description=Logs some system statistics to the systemd journal
Requires=pkgs-observer-agent.service

[Timer]
Unit=pkgs-observer-agent.service
OnCalendar=*:0/15
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target